body, html {
	height: 100%;
}

body {
	background: #eee;	
  	font-family: 'Open Sans', sans-serif;
  	padding-top: 80px;
}

/* 
	Sidebar
=============================== */
.sidebar {
	padding: 0;
}
.sidebar h5 {
	margin-bottom: 30px;
	border-bottom: 1px solid #ededed;
}

/* 
	Section component
=============================== */
.section-cnt {
	background: #fff;
	padding: 15px 20px;
	margin-bottom: 15px;
	position: relative;
	border: 0;
	box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);
	min-height: 100%;
	height: auto;
}
.section-head {
	color: #fff;
	background-color: #2c3e50;
	border-color: #ecf0f1;
	padding: 15px 20px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 16px;
}

/* 
	Header section 
=============================== */
.head {
	margin-bottom: 50px;
}
.head h4 {
	padding-bottom: 15px;
	margin-bottom: 18px;
	border-bottom: 1px solid #ededed;
}

/* 
	Footer section 
=============================== */
.footer {
	margin-top: 50px;
}
.footer .list-unstyled {
	margin-bottom: 40px;
}
.footer .list-unstyled li {
	float: left;
	margin-right: 10px;
}
.footer p {
	clear: both;
	margin: 0 0 10px;
}

/* 
	Company section 
=============================== */
.company-list {}
.company-item img {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
}
.company-item a:hover img {
 	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.company-item h4 {
	margin-bottom: 5px;
}
.company-item img {
	width: 100%;
}
.company-logo {
	padding-right: 0;
}
.company-description {
	font-size: 13px;
	color: #666;
}
.company-more {
	padding-top: 15px;
	text-align: center;
	border-top: 1px solid #ededed;
	text-transform: uppercase;
}

/* 
	Vacancy section 
=============================== */
.vacancy-item {
	margin: 20px 0 30px;
}
.vacancy-tags {
	margin-bottom: 10px;
}
.vacancy-tags .label {
	margin-right: 5px;
}
.vacancy-description {
	font-size: 14px;
	margin-bottom: 10px;
}
.vacancy-date {
	margin-bottom: 10px;
	color: #999;
	font-size: 13px;
}
.vacancy-filters .label {
	margin-right: 5px;
	margin-bottom: 1px;
	white-space: normal;
	display: inline-block;
	cursor: pointer;
}