.featuredTag{
 margin: 0 5px 0 0;
}

.featuredMainSection{
    margin: 10px 0 0 0;
}


.title {
  position: absolute;
  top: 0;
  width: 90%;
  margin: 14px 1px;
  height: 88%;
  z-index: 10;
}


.explore_title {
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    margin: 0 0 15px;
    color: #fffff0;
}