
<div class="ui grid">



    <div class="two wide column"></div>
    <div class="twelve wide column">

<div     
    isteven-multi-select
    input-model="modernBrowsers"
    output-model="outputBrowsers"
    button-label="icon name"
    item-label="icon name maker"
    tick-property="ticked"
    orientation="horizontal" 
    on-open="fOpen()"                
    on-close="fClose()"
    on-item-click="fClick( data )"
    on-select-all="fSelectAll()"
    on-select-none="fSelectNone()"
    on-reset="fReset()"
    on-clear="fClear()"
    on-search-change="fSearchChange( data )"
>
</div>
     
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

        <div class="ui three cards">
            <div class="ui card" ng-repeat="x  in response.data.content">
                <div class="content">
                    <i class="right floated like icon"></i>
                    <i class="right floated star icon"></i>
                    <div class="header">{{x.title}}</div>
                    <div class="meta">{{x.update_date}}</div>
                    <span ng-repeat="tag in x.tags">
                    <span class="ui blue label"> {{ tag }}</span>
                    </span>
                    <div class="description">
                        {{x.description | htmlToPlaintext | limitTo : 100 }}...
                    </div>
                </div>
                <div class="ui bottom attached button">
                    Join
                </div>
            </div>
        </div>



        </div>

    </div>
    <div class="two wide column"></div>
</div>

<script>
    $(document)
    .ready(function () {
        $('#tagsField').dropdown({
            apiSettings: {
                url: 'http://46.101.223.61/api/tags/web/{query}'
            }
        }),
        $('#citiesField').dropdown({
            apiSettings: {
                url: 'http://46.101.223.61/api/locations/web/{query}'
            }
        })
    })
    ;
</script>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<div class="ui grid">  
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui horizontal divider">
            Quick links
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <div class="ui  container">

            <div class="featuredMainSection" ng-controller="featuredTags">
                <strong>Tags: </strong>
                <span class="featuredTag" ng-repeat="x in content">
                <a class="ui label" href="#/" >{{ x.name }} </a>
                </span>
            </div>

            <div class="featuredMainSection" ng-controller="featuredCities">
                <strong>Cities: </strong>
                <span class="featuredTag" ng-repeat="city in content">
                    <a class="ui blue label" href="#/"> {{ city.name }}</a>
                </span>
            </div>
            <div class="featuredMainSection" ng-controller="featuredEmployers">
                <strong>Companies: </strong>
                <span class="featuredTag"  ng-repeat="emp in content">
                    <a class="ui red label" href="#/"> {{ emp[0].name }}</a>
                </span>
            </div>

        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<div class="ui grid">  
    <div class="two wide column"></div>

    <div class="twelve wide column">
        <div class="ui horizontal divider">
            Best cities
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <div class="ui grid">
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
          <div class="four wide column"><img class="ui fluid image" src="http://lorempixel.com/output/city-q-c-400-300-10.jpg"></div>
        </div>
    </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="two wide column"></div>
</div>

<div class="ui grid">  
    <div class="two wide column"></div>
    <div class="twelve wide column">

        <div class="ui horizontal divider">
            Best jobs
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                        Apply
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                        Apply
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                        Apply
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="two wide column"></div>
</div>


