<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui header">
            {{response.name}}
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="{{response.logo.url}}">
            </div>
            <div class="description">
                <!-- <p>{{response.description}}</p> -->
                <div ng-bind-html="response.description"></div>
            </div>
        </div>
        <div class="actions">
            <div class="ui horizontal list" ng-repeat="tag in response.tags">
                <div class="item ui huge labels">
                    <div class="ui label">
                        {{tag}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="two wide column"></div>
</script>