<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui secondary  menu">
            <a class="item">
            <div class="ui animated button" ng-class="{disabled: previousEnabled }" tabindex="0" ng-click='previousPage()'>
                <div class="visible content">Back</div>
                <div class="hidden content">
                    <i class="left arrow icon"></i>
                </div>
            </div>
            </a>
            <a class="item">
            <div class="ui animated button" ng-class="{disabled: nextEnabled }" tabindex="0" ng-click='nextPage()'>
                <div class="visible content">Next</div>
                <div class="hidden content">
                    <i class="right arrow icon"></i>
                </div>
            </div>
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="three wide column" ng-repeat='employer in employers'>
                <div class="ui fluid card" >
                    <a class="image" href="/#/employers/{{employer[0].id}}">
                    <img  ng-src="{{employer[0].logo.url}}">
                    </a>
                    <div class="content">
                        <a class="header" href="/#/employers/{{employer[0].id}}">{{employer[0].name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
            $('.ui.fluid.card').click(function() {
                    $('.ui.modal').modal('show');
            })
            
</script>