<div class="ui grid">
	<div class="two wide column"></div>
	<div class="twelve wide column">
		<div class="ui three cards">
			<div class="ui card" ng-repeat="x  in response.data.content">
				<div class="content">
				    <i class="right floated like icon"></i>
    				<i class="right floated star icon"></i>
					<div class="header">{{x.title}}</div>
					<div class="meta">{{x.update_date}}</div>
                    <span ng-repeat="tag in x.tags">
                    <span class="ui blue label"> {{ tag }}</span>
                    </span>
					<div class="description">
						{{x.description | htmlToPlaintext | limitTo : 100 }}...
					</div>
				</div>
				<div class="ui bottom attached button">
					Join
				</div>
			</div>
		</div>

	</div>
	<div class="two wide column"></div>
</div>