<div class="ui grid">  
    <div class="two wide column"></div>
    <div class="twelve wide column">
    
    <div map-lazy-load="http://maps.google.com/maps/api/js">
  		<map zoom="3" center="26.7557178, -13.2335583">
		    <marker ng-repeat="city in cities" icon="{{image}}" shape="{{shape}}" title="{{city.name}}" position="{{city.latitude}}, {{city.longitude}}"></marker>
	  	</map>
	</div>
    
	<div class="two wide column"></div>
    </div>
</div>

