<div class="row">
    <div class="col-lg-9">
        <div class="section-cnt">
            <div class="head">
                <h4>Искомое найдено</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" placeholder="Все будет хорошо" class="form-control">    
                    </div>
                    <div class="col-lg-6">
                        <input type="text" placeholder="Все будет очень хорошо" class="form-control">    
                    </div>
                </div>
            </div>
            <vacancy-list model="vacancies"></vacancy-list>
        </div>
    </div>

    <div class="sidebar col-lg-3">
        <div class="section">
            <div class="section-head">Фильтры</div>
            <div class="section-cnt">
                <form class="vacancy-filters">
                    <tag-list title="Технологии" model="featuredTags"></tag-list>
                    <div class="form-group">
                        <label class="control-label">Города</label>
                        <div>
                            <span class="label label-warning">Санкт-Петербург</span>
                            <span class="label label-warning">Питер</span>
                            <span class="label label-warning">Город-на-Неве</span>
                            <span class="label label-warning">Спб</span>
                            <span class="label label-warning">Северная столица</span>
                            <span class="label label-warning">Культурная столица</span>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="control-label" for="focusedInput">Что?</label>
                        <input class="form-control input-sm" id="focusedInput" type="text" value="Что?">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="focusedInput">Где?</label>
                        <input class="form-control input-sm" id="focusedInput" type="text" value="Где?">
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" value="option1" checked="">
                                Когда?
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" value="option2">
                                Куда?
                            </label>
                        </div>
                   </div> -->
                </form>
            </div>
        </div>

        <div class="section">
            <div class="section-head">Лучшие компании</div>
            <div class="section-cnt">
                <div class="company-list">
                    <div class="company-item row">
                        <div class="col-md-4 company-logo">
                            <a href="/">
                                <img src="http://i.forbesimg.com/media/lists/companies/google_416x416.jpg">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h4>Google</h4>
                            <div class="company-description">256 открытых позиций.</div>
                        </div>
                    </div> 
                    <div class="company-item row">
                        <div class="col-md-4 company-logo">
                            <a href="/">
                                <img src="http://i.forbesimg.com/media/lists/companies/google_416x416.jpg">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h4>Google</h4>
                            <div class="company-description">256 открытых позиций.</div>
                        </div>
                    </div> 
                    <div class="company-item row">
                        <div class="col-md-4 company-logo">
                            <a href="/">
                                <img src="http://i.forbesimg.com/media/lists/companies/google_416x416.jpg">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h4>Google</h4>
                            <div class="company-description">256 открытых позиций.</div>
                        </div>
                    </div> 
                    <div class="row company-more">
                        <a href="/">Еще компании</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>