<div class="home">
<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">

    <div class="ui grid"><h1 class="ui center aligned icon header"><i class="search icon"></i></h1></div>

    <div class="ui grid">
        <div class="eight wide column">
            <oi-select oi-options="item.name for item in tagsArray($query)"
        ng-model="tags"
        multiple
        autofocus
        oi-select-options="{
        closeList: false
        }"
        placeholder="Tags"></oi-select>
    
        </div>
        <div class="six wide column">
            <oi-select oi-options="item.name for item in locationsArray($query)"
        ng-model="locations"
        multiple

        placeholder="Locations"></oi-select>
        </div>
        <div class="two wide column">
            <div ng-click="submit()" class="ui button">Search</div>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui checkbox">
                <input type="checkbox" name="example"
                       ng-model="remote_work"
                       ng-change="isRemote(true)">
                <label>Удаленная занятость</label>
            </div>
        </div>
    </div>

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        
        <div class="ui grid">
        <div class="twelve wide column" ng-show="response.data.count">
            <a href="">View all {{ response.data.count }} vacancies ...</a>
        </div>
        </div>

        <div class="ui three cards">
            <div class="ui card" ng-repeat="x  in response.data.content">
                <div class="content">
                    <div class="header">{{x.title}}</div>
                    <div class="meta">{{x.update_date}}</div>
                    <span ng-repeat="tag in x.tags">
                    <span class="ui blue label"> {{ tag }}</span>
                    </span>
                    <div class="description">
                        {{x.description | htmlToPlaintext | limitTo : 100 }}...
                    </div>
                </div>
                <div class="ui bottom attached button">
                    Join
                </div>
            </div>
        </div>
    </div>
</div>
<div class="two wide column"></div>
</div>
<div class="ui grid">
<div class="two wide column"></div>
<div class="twelve wide column">
    <div class="ui horizontal divider">
        Quick links
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui  container">
        <div class="featuredMainSection">
            <strong>Tags: </strong>
            <span class="featuredTag" ng-repeat="x in featuredTags">
            <a class="ui label" ng-click="featuredTagClick({'name':x.name})" >{{x.name}}</a>
            </span>
        </div>

        <div class="featuredMainSection">
            <strong>Cities: </strong>
            <span class="featuredTag" ng-repeat="city in featuredCities">
            <a class="ui blue label" ng-click="featuredCityClick({'name': city.name})"> {{ city.name }}</a>
            </span>
        </div>
    </div>
</div>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui grid">
<div class="two wide column"></div>
<div class="twelve wide column">
    <div class="ui horizontal divider">
        Best cities
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui grid" >
        <div class="five wide column" ng-repeat="city in featuredCities">
            <img class="ui fluid image" src={{city.logo}}>
            <h3 class="title">
                <a class="explore_title" href="/">{{city.name}}</a>
            </h3>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="two wide column"></div>
</div>
<div class="ui grid">
<div class="two wide column"></div>
<div class="twelve wide column">
    <div class="ui horizontal divider">
        Best jobs
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="description">
                        Elliot Fu is a film-maker from New York.
                    </div>
                </div>
                <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    Apply
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="description">
                        Elliot Fu is a film-maker from New York.
                    </div>
                </div>
                <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    Apply
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="description">
                        Elliot Fu is a film-maker from New York.
                    </div>
                </div>
                <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    Apply
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="two wide column"></div>
</div>
</div>