<div class="ui grid">  
    <div class="two wide column"></div>
    <div class="twelve wide column">

        <div class="ui horizontal divider">
            Best jobs
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                        Apply
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                        Apply
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                        Apply
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="two wide column"></div>
</div>