<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
	    <div class="ui huge labels">
		  <div class="ui label" ng-repeat="x  in tags.data.content">
		    {{ x.name }}
		  </div>
		</div>
    </div>
    <div class="two wide column"></div>
</div>